<!DOCTYPE html>
<html lang="en">
	<head>
		<title>404 | Email Application</title>
		
		<%- include('../components/meta') %> <%- include('../components/link') %> <%-
		include('../components/firebaseAuth') %>
		<link href="/assets/css/style.default.css" rel="stylesheet" />
		<style>
			.logo img {
				width:50%;
			}
			.image
            {
                position:fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-image:
                        linear-gradient(115deg,
                        rgba(37, 122, 233, 0.87),
                        rgba(162, 214, 212, 0.7)
                        ),
                    url(assets/img/unsplash_bg.jpg);
                    background-size:cover;
                    background-repeat: no-repeat;
                    background-position: center;
            }
		</style>
	</head>
	<body>
		<div class="image">
        </div>
	<body class="signup">
		<section>
            
            <div class="panel panel-signin">
                <div class="panel-body">
                    <div class="logo text-center">
                        <img src="/assets/img/logo-email.png" alt="Chain Logo" >
                    </div>
                    <br />
                    <h3 class="text-center mb5">404</h3>
                    
                    <div class="mb30"></div>
                    
                    <form action="/termsConditions" method="post">
                        <br />
                        <div class="row">
                            <div class="col-sm">
								<h2 style="text-align: center;">Page Not Found</h2>
								<p>
									The specified file was not found on this website. Please check the URL for mistakes and try again.
								</p>
                            </div>
                        </div><!-- row -->
                        <br />
                    </form>
                    
                </div><!-- panel-body -->
            </div><!-- panel -->

			<script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/modernizr.min.js"></script>
        <script src="/assets/js/pace.min.js"></script>
        <script src="/assets/js/retina.min.js"></script>
        <script src="/assets/js/jquery.cookies.js"></script>

        <script src="/assets/js/custom.js"></script>
		<%- include('../components/scripts') %>
	</body>
</body>
</html>
