<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Forgot Password | Email Application</title>
		
		<%- include('components/meta') %> <%- include('components/link') %> <%-
		include('components/firebaseAuth') %>
		<link href="/assets/css/style.default.css" rel="stylesheet" />
		<style>
			.panel-signup {
				width:450px;
			}
			.logo img {
				width:50%;
			}
			.image
            {
                position:fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-image:
                    linear-gradient(115deg,
                    rgba(37, 122, 233, 0.55),
                    rgba(75, 144, 235, 0.7)
                    ),
                url(assets/img/3.jpg);
                background-size:cover;
                background:position 100%;
            }
		</style>
	</head>
	<body>
		<div class="image">
        </div>
	<body class="signin">
		<section>
            
            <div class="panel panel-signup">
                <div class="panel-body">
                    <div class="logo text-center">
                        <img src="/assets/img/logo-email.png" alt="Chain Logo" >
                    </div>
                    <br />
                    <h4 class="text-center mb5">Forgot Password?</h4>
                    <p class="text-center">Please enter your email below</p>
                    
                    <div class="mb30"></div>
                    
                    <form action="/passwordReset" method="post">
                        <br />
                        <div class="row">
                            <div class="col-sm">
                                <div class="input-group mb15">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input id="email"
									type="email"
									placeholder="username@email.com"
									class="form-control"
									name="email"
									autocomplete="email"
									required
									autofocus>
                                </div><!-- input-group -->
                            </div>
                        </div><!-- row -->
                        <br />
                        <div class="clearfix">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">Verify <i class="fa fa-angle-right ml5"></i></button>
                            </div>
                        </div>
                    </form>
                    
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <a href="/register" class="btn btn-primary btn-block">Not yet a Member? Create Account Now</a>
                </div><!-- panel-footer -->
            </div><!-- panel -->

			<script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/modernizr.min.js"></script>
        <script src="/assets/js/pace.min.js"></script>
        <script src="/assets/js/retina.min.js"></script>
        <script src="/assets/js/jquery.cookies.js"></script>

        <script src="/assets/js/custom.js"></script>
		<%- include('components/scripts') %>
		<script type="text/javascript">
			$("#email").change(() => {
				var payload = {
					checkEmail: document.getElementById("email").value,
				};
				fetch("/userQuery", {
					method: "POST",
					body: new URLSearchParams($.param(payload)),
				})
					.then((response) => {
						if (response.status !== 200) {
							alert(
								"Looks like there was a problem. Status Code: " +
									response.status
							);
							return;
						}
						response.text().then((data) => {
							if (data != "User exists") {
								document.getElementById("email").value = "";
								alert(
									"User does not exist! Please recheck email."
								);
								window.location.reload();
							}
						});
					})
					.catch((err) => {
						alert("Fetch Error :-S", err);
					});
			});
		</script>
	</body>
</body>
</html>
