<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Inbox | Email Application</title>
		<%- include('components/meta') %> <%- include('components/link') %>
	</head>

	<body>
		<div class="wrapper">
			<%- include('components/sidebar') %>
			<div class="main-panel">
				<nav class="navbar navbar-default">
					
				</nav>
			</div>
		</div>
		<%- include('components/scripts') %>
		<script type="text/javascript">
			$(document).ready(function () {
				$("#datatables").DataTable({
					pagingType: "full_numbers",
					lengthMenu: [
						[10, 25, 50, -1],
						[10, 25, 50, "All"],
					],
					responsive: true,
					language: {
						search: "_INPUT_",
						searchPlaceholder: "Search records",
					},
				});

				var table = $("#datatables").DataTable();
			});
		</script>
	</body>
</html>
