<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login | Email Application</title>
		<%- include('components/meta') %> <%- include('components/link') %> <%-
		include('components/firebaseAuth') %>
        <link href="/assets/css/style.default.css" rel="stylesheet" />
        <style>
            .navbar {
                top:0;
                left:0;
                width:100%;
                position:absolute;
                z-index: 1030;
            }

            /* .navbar-header {
                display: block !important;
                float: none;
                margin: 17px 15px 17px 0;
                height: 40px;
            }

            @media (min-width:768px) {
                .navbar-header {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            @media (max-width:992px) {
                .navbar-header {
                    float: none; 
                }
            }*/ 
            

            .panel-signin {
                width: 450px;
            }

            .logo img {
                width:60%;
            }
            .image
                {
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 1152px;
                    width: 2048px;
                    z-index: -1;
                    background-image:
                        linear-gradient(115deg,
                        rgba(37, 122, 233, 0.884),
                        rgba(162, 214, 212, 0.7)
                        ),
                    url(assets/img/unsplash_bg.jpg);
                    background-size:cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
        </style>
		<script>
			function toggleSignIn() {
				if (firebase.auth().currentUser) {
					firebase.auth().signOut();
				} else {
					if (document.getElementById("email").value.length < 11) {
						main.showSwal("emailInvalid");
						return;
					}
					if (document.getElementById("password").value.length < 8) {
						main.showSwal("passwordNoMatch");
						return;
					}
					firebase
						.auth()
						.signInWithEmailAndPassword(
							document.getElementById("email").value,
							document.getElementById("password").value
						)
						.catch((error) => {
							if (error.code === "auth/wrong-password") {
								alert("Wrong password!");
							} else if (error.code === "auth/user-not-found") {
								alert("User not found");
							} else {
								main.showSwal(error.message);
							}
						});
				}
			}
			function initApp() {
				firebase
					.auth()
					.setPersistence(firebase.auth.Auth.Persistence.NONE);
				firebase.auth().onAuthStateChanged((user) => {
					if (user) {
						console.log(user);
						user.getIdToken()
							.then((idToken) => {
								window.location.href =
									"/sessionLogin?idToken=" + idToken;
								main.showSwal("signingIn");
							})
							.catch((error) => {
								alert(error);
							});
					} else {
						main.showSwal("loginContinue");
					}
				});
			}
			window.onload = initApp();
		</script>
	</head>

	<body>
        <div class="image">
        </div>
		<body class="signin">        
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container">
                    <div class="navbar-header">
                        <a
                            class="navbar-brand"
                            href="/login"
                            style="text-align: center;"
                            >Email Application</a
                        >
                    </div>
                </div>
            </nav>


            <section>
                
                <div class="panel panel-signin">
                    <div class="panel-body">
                        <div class="logo text-center">
                            <img src="/assets/img/logo-email.png" alt="Email Attach Logo" >
                        </div>
                        <br />
                        <h4 class="text-center mb5">Already a Member?</h4>
                        <p class="text-center">Sign in to your account</p>
                        
                        <div class="mb30"></div>
                        
                        <form  method="#" action="#">
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="email"
                                name="email"
                                id="email"
                                placeholder="Enter email"
                                class="form-control"
                                autocomplete="email"
                                autofocus placeholder="Enter email">
                            </div><!-- input-group -->
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                                autocomplete="current-password"
                                class="form-control" placeholder="Password">
                            </div><!-- input-group -->

                            <div class="clearfix">
                                <div class="pull-left">
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                </div>
                                <div class="pull-right">
                                    <button type="button"
                                    onclick="toggleSignIn()"
                                    
                                    id="loginButton" class="btn btn-success">Sign In <i class="fa fa-angle-right ml5"></i></button>
                                </div>
                            </div> 

                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="ckbox ckbox-primary mt10">
                                        <input type="checkbox" id="rememberMe" value="1">
                                        <label for="rememberMe">Remember Me</label>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="forgot mt10">
                                        <a href="/forgotPassword">Forgot Password?</a>
                                    </div>
                                </div>
                            </div>                      
                        </form>
                        
                    </div><!-- panel-body -->
                    <div class="panel-footer">
                        <a href="/register" class="btn btn-primary btn-block">Not yet a Member? Create Account Now</a>
                    </div><!-- panel-footer -->
                </div><!-- panel -->
                
            </section>
    
    
            <script src="/assets/js/jquery-1.11.1.min.js"></script>
            <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/modernizr.min.js"></script>
            <script src="/assets/js/pace.min.js"></script>
            <script src="/assets/js/retina.min.js"></script>
            <script src="/assets/js/jquery.cookies.js"></script>
    
            <script src="/assets/js/custom.js"></script>
    
            <%- include('components/scripts') %>
            <script type="text/javascript">
                $().ready(function () {
                    main.checkFullPageBackgroundImage();
                    document.getElementById("email").oncopy = function (e) {
                        e.preventDefault();
                    };
                    document.getElementById("email").onpaste = function (e) {
                        e.preventDefault();
                    };
                    document.getElementById("password").oncopy = function (e) {
                        e.preventDefault();
                    };
                    document.getElementById("password").onpaste = function (e) {
                        e.preventDefault();
                    };
                });
                var input = document.getElementById("email");
                input.addEventListener("keyup", function (event) {
                    if (event.keyCode === 13) {
                        event.preventDefault();
                        document.getElementById("loginButton").click();
                    }
                });
                var input1 = document.getElementById("password");
                input1.addEventListener("keyup", function (event) {
                    if (event.keyCode === 13) {
                        event.preventDefault();
                        document.getElementById("loginButton").click();
                    }
                });
            </script>
		
	</body>
</html>
