<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Terms & Conditions | Email Application</title>
		
		<%- include('components/meta') %> <%- include('components/link') %> <%-
		include('components/firebaseAuth') %>
		<link href="/assets/css/style.default.css" rel="stylesheet" />
		<style>
			.logo img {
				width:50%;
			}
			.image
            {
                position:fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-image:
                    linear-gradient(115deg,
                    rgba(37, 122, 233, 0.55),
                    rgba(75, 144, 235, 0.7)
                    ),
                url(assets/img/3.jpg);
                background-size:cover;
                background:position 100%;
            }
		</style>
	</head>
	<body>
		<div class="image">
        </div>
	<body class="signin">
		<section>
            
            <div class="panel panel-signup">
                <div class="panel-body">
                    <div class="logo text-center">
                        <img src="/assets/img/logo-email.png" alt="Chain Logo" >
                    </div>
                    <br />
                    <h4 class="text-center mb5">Terms and Conditions</h4>
                    
                    <div class="mb30"></div>
                    
                    <form action="/termsConditions" method="post">
                        <br />
                        <div class="row">
                            <div class="col-sm">
                                <h6>We know it’s tempting to skip these Terms and Services, but it’s important to establish what you can expect from us as you use our Email Application services, and what we expect from you.</h6>
                                <ul>
                                    <br><li>In order for You to use the Services, Email Application will require You to provide specific information about Yourself.</li><br>
                                    <li>You agree to provide true, accurate and complete information.</li><br>
                                    <li>You shall be responsible for maintaining the confidentiality of Your account and password.</li><br>
                                    <li>You shall be responsible for any and all transactions by users given access to such account or password and any and all consequences of use or misuse of such account and password.</li><br>
                                    <li>You can also end your relationship with us at any time by closing your Email Account.</li><br>
                                    <li>The Email Application shall not disclose, transfer, assign or otherwise communicate to any third party the End-User Data, even for storage purposes, without Your previous authorization.</li>
                                </ul>
                            </div>
                        </div><!-- row -->
                        <br />
                    </form>
                    
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <a href="/register" class="btn btn-primary btn-block"><i class="fa fa-angle-left ml5"></i> Back to Registration page</a>
                </div><!-- panel-footer -->
            </div><!-- panel -->

			<script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/modernizr.min.js"></script>
        <script src="/assets/js/pace.min.js"></script>
        <script src="/assets/js/retina.min.js"></script>
        <script src="/assets/js/jquery.cookies.js"></script>

        <script src="/assets/js/custom.js"></script>
		<%- include('components/scripts') %>
	</body>
</body>
</html>
