<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title></title>

	<link href="/assets/css/style.default.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
</head>

<body>

	<header>
		<div class="headerwrapper">
			<div class="header-left">
				<a href="index.html" class="logo">
					<img src="/assets/img/logo.png" alt="" />
				</a>
				<div class="pull-right">
					<a href="messages.html" class="menu-collapse">
						<i class="fa fa-bars"></i>
					</a>
				</div>
			</div><!-- header-left -->

			<div class="header-right">

				<div class="pull-right">

					<form class="form form-search" action="search-results.html">
						<input type="search" class="form-control" placeholder="Search" />
					</form>

					<div class="btn-group btn-group-list btn-group-notification">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i>
							<span class="badge">5</span>
						</button>
						<div class="dropdown-menu pull-right">
							<a href="messages.html" class="link-right"><i class="fa fa-search"></i></a>
							<h5>Notification</h5>
							<ul class="media-list dropdown-list">
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
									<div class="media-body">
										<strong>Nusja Nawancali</strong> likes a photo of you
										<small class="date"><i class="fa fa-thumbs-up"></i> 15 minutes ago</small>
									</div>
								</li>
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">
									<div class="media-body">
										<strong>Weno Carasbong</strong> shared a photo of you in your <strong>Mobile
											Uploads</strong> album.
										<small class="date"><i class="fa fa-calendar"></i> July 04, 2014</small>
									</div>
								</li>
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">
									<div class="media-body">
										<strong>Venro Leonga</strong> likes a photo of you
										<small class="date"><i class="fa fa-thumbs-up"></i> July 03, 2014</small>
									</div>
								</li>
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">
									<div class="media-body">
										<strong>Nanterey Reslaba</strong> shared a photo of you in your <strong>Mobile
											Uploads</strong> album.
										<small class="date"><i class="fa fa-calendar"></i> July 03, 2014</small>
									</div>
								</li>
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
									<div class="media-body">
										<strong>Nusja Nawancali</strong> shared a photo of you in your <strong>Mobile
											Uploads</strong> album.
										<small class="date"><i class="fa fa-calendar"></i> July 02, 2014</small>
									</div>
								</li>
							</ul>
							<div class="dropdown-footer text-center">
								<a href="messages.html" class="link">See All Notifications</a>
							</div>
						</div><!-- dropdown-menu -->
					</div><!-- btn-group -->

					<div class="btn-group btn-group-list btn-group-messages">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="badge">2</span>
						</button>
						<div class="dropdown-menu pull-right">
							<a href="messages.html" class="link-right"><i class="fa fa-plus"></i></a>
							<h5>New Messages</h5>
							<ul class="media-list dropdown-list">
								<li class="media">
									<span class="badge badge-success">New</span>
									<img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
									<div class="media-body">
										<strong>Nusja Nawancali</strong>
										<p>Hi! How are you?...</p>
										<small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>
									</div>
								</li>
								<li class="media">
									<span class="badge badge-success">New</span>
									<img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">
									<div class="media-body">
										<strong>Weno Carasbong</strong>
										<p>Lorem ipsum dolor sit amet...</p>
										<small class="date"><i class="fa fa-clock-o"></i> July 04, 2014</small>
									</div>
								</li>
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">
									<div class="media-body">
										<strong>Venro Leonga</strong>
										<p>Do you have the time to listen to me...</p>
										<small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
									</div>
								</li>
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">
									<div class="media-body">
										<strong>Nanterey Reslaba</strong>
										<p>It might seem crazy what I'm about to say...</p>
										<small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
									</div>
								</li>
								<li class="media">
									<img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
									<div class="media-body">
										<strong>Nusja Nawancali</strong>
										<p>Hey I just met you and this is crazy...</p>
										<small class="date"><i class="fa fa-clock-o"></i> July 02, 2014</small>
									</div>
								</li>
							</ul>
							<div class="dropdown-footer text-center">
								<a href="messages.html" class="link">See All Messages</a>
							</div>
						</div><!-- dropdown-menu -->
					</div><!-- btn-group -->

					<div class="btn-group btn-group-option">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-caret-down"></i>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="messages.html#"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
							<li><a href="messages.html#"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>
							<li><a href="messages.html#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a>
							</li>
							<li><a href="messages.html#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
							<li class="divider"></li>
							<li><a href="messages.html#"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
						</ul>
					</div><!-- btn-group -->

				</div><!-- pull-right -->

			</div><!-- header-right -->

		</div><!-- headerwrapper -->
	</header>

	<section>
		<div class="mainwrapper">
			<div class="leftpanel">
				<div class="media profile-left">
					<a class="pull-left profile-thumb" href="profile.html">
						<img class="img-circle" src="/assets/img/photos/profile.png" alt="">
					</a>
					<div class="user">
						<div class="info">
							<a
								data-toggle="collapse"
								href="#collapseExample"
								class="collapsed"
							>
								<span>
									<%- user.name -%> <br />
									<%- user.email -%>
									<b class="caret"></b>
								</span>
							</a>
							<div class="clearfix"></div>
			
							<div class="collapse" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="/userProfile">
											<span class="sidebar-mini">EP</span>
											<span class="sidebar-normal">Edit Profile</span>
										</a>
									</li>
									<li>
										<a href="/signOut">
											<span class="sidebar-mini">SO</span>
											<span class="sidebar-normal">Sign Out</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div><!-- media -->

				
				<ul class="nav nav-pills nav-stacked">
					
					<li class="parent"><a href="messages.html"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email Messages</span></a>
						<ul class="children">
							<li><a href="/inbox"><i class="glyphicon glyphicon-inbox"></i> Inbox </a></li>
							<li><a href="/inbox"><i class="glyphicon glyphicon-star"></i>Starred </a></li>
							<li><a href="/composeEmail"><i class="glyphicon glyphicon-text-color"></i>Compose Mail</a></li>
							<li><a href="/sentEmails"><i class="glyphicon glyphicon-send"></i>Sent Mail</a></li>
							<li><a href="/draftedEmails"><i class="glyphicon glyphicon-pencil"></i>Draft</a></li>
							<li><a href="/inbox"><i class="glyphicon glyphicon-trash"></i>Trash</a></li>
						</ul>
					</li>
					
					<li class="parent"><a href=""> <i class="fa fa-address-book" aria-hidden="true"></i><span>People Directory</span></a>
						<ul class="children">
							<li><a href="/contacts"><i class="fa fa-file-text"></i>All Contacts</a></li>
							<li><a href="/addContact"><i class="fa fa-plus" aria-hidden="true"></i>Add Contacts</a></li>
							<li><a href="/contacts"><i class="fa fa-id-card-o" aria-hidden="true"></i>My Contacts</a></li>
							<li><a href="/contacts"><i class="fa fa-skype" aria-hidden="true"></i>Skype Contacts</a></li>
							<li><a href="/contacts"><i class="fa fa-google-plus" aria-hidden="true"></i>Google</a></li>
							
						</ul>
					</li>

				</ul>

			</div><!-- leftpanel -->

			
		</div><!-- mainwrapper -->
	</section>


	<script src="/assets/js/jquery-1.11.1.min.js"></script>
	<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/modernizr.min.js"></script>
	<script src="/assets/js/pace.min.js"></script>
	<script src="/assets/js/retina.min.js"></script>
	<script src="/assets/js/jquery.cookies.js"></script>

	<script src="/assets/js/custom.js"></script>
	<script>
		jQuery(document).ready(function () {

			//highlight rows that are already checked
			jQuery('.msg-list .ckbox input').each(function () {
				if (jQuery(this).is(':checked')) {
					jQuery(this).parents('li').addClass('highlighted');
				}
			});

			// highlight/unhighlight rows when checked/unchecked
			jQuery('.ckbox input').click(function () {
				if (jQuery(this).is(':checked')) {
					jQuery(this).parents('li').addClass('highlighted');
				} else {
					jQuery(this).parents('li').removeClass('highlighted');
				}
			});
		});
	</script>

</body>

</html>